<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Designftw Chatroom</title>

    <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.esm-browser.js",
                    "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@4.5.0/dist/vue-router.esm-browser.prod.js",
                    "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local@0.6.4/dist/browser/index.js",
                    "@graffiti-garden/implementation-remote": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-remote@0.6.2/dist/browser/index.js",
                    "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue@0.7.2/dist/browser/plugin.mjs"
                }
            }
        </script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./components/profile/profile.css" />
    <link rel="stylesheet" href="./components/inbox/inbox.css" />
    <link rel="stylesheet" href="./components/chat/chat.css" />
</head>

<body>
    <div id="app">
        <div v-if="!$graffitiSession.value" class="login">
            <h1>DesignFTW Chatroom</h1>
            <button @click="login" id="login_button" class="log">
                Log in
            </button>
        </div>
        <template v-if="$graffitiSession.value">

            <router-view v-slot="{ Component }">
                <component v-if="Component" :is="Component" @submit="updateProfile" v-bind="$attrs" />
            </router-view>
        </template>

    </div>
    </div>
    </div>

    <script src="index.js" type="module"></script>
</body>

</html>