<div class="chat_container">
    <div v-if=" isLoading" class="black_background">
        <div id="loader_inner">
            <h2>Loading...</h2>
            <img src="svg/loader.svg">
        </div>
    </div>
    <div v-else id="chat">
        <div v-if="notAllowedError">
            <h1>You're not allowed to access this page.</h1>
        </div>
        <div v-else id="actual_chat">
            <div v-if="calendar" class="blur_background">
                <div class="blur_background_inner calendar_list">
                    <h3>Scheduled messages</h3>

                    <div v-if="newScheduled">
                        <form @submit.prevent="submitScheduled" class="newScheduleForm">
                            <div class="inputs">
                                <div class="datetime-picker">
                                    <input ref="schedInput" type="datetime-local" v-model="scheduledDate" required>
                                </div>
                                <div class="message-input">
                                    <input type="text" v-model="scheduledMessage" placeholder="Message" required>
                                </div>
                            </div>
                            <div class="buttons">
                                <button type="submit">Schedule</button>
                                <button type="button" class="cancel" @click="closeCalendar">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <div v-else>
                        <ul class="scheduled_messages">
                            <li v-for="msg of scheduled" class="scheduled_message">
                                <div class="content_and_time">
                                    <span class="content">"{{trim(msg.content, 30)}}"</span>
                                    <span class="time">For {{formatCalendardDate(msg.time)}}</span>
                                </div>
                                <button class="trash_can" @click="deleteScheduled(msg)"><img
                                        src="../../svg/trash.svg" /></button>
                            </li>
                        </ul>
                        <div class="buttons">
                            <button type="button" class="green" @click="clickNew">New</button>
                            <button type="button" class="cancel" @click="closeCalendar">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <div v-if="manageTags" class="blur_background" @click="closeManageTags()">
                <form class="blur_background_inner manage_tags_list" @submit.prevent="submitTags" @click.stop>
                    <h3>Manage tags</h3>
                    <div class="tags">
                        <div>
                            <label for="personal">Personal</label>
                            <input type="checkbox" :checked="personalEdit" name="personal" v-model="personalEdit">
                        </div>
                        <div>
                            <label for="work">Work</label>
                            <input type="checkbox" :checked="workEdit" name="work" v-model="workEdit">
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" :disabled="!workEdit && !personalEdit">Save</button>
                        <button @click="closeManageTags" type="button" class="cancel">Cancel</button>
                    </div>
                </form>
            </div>
            <div v-if="newReminder" class="blur_background" @click="closeReminder()">
                <div class="blur_background_inner" @click.stop>
                    <h3>Add reminder</h3>
                    <form class="reminder_options" @submit.prevent="submitReminder">
                        <label>
                            <input type="radio" v-model="reminderTime" name="reminder-time" value="1" checked>
                            1 hour
                        </label>
                        <label>
                            <input type="radio" v-model="reminderTime" name="reminder-time" value="8">
                            8 hours
                        </label>
                        <label>
                            <input type="radio" v-model="reminderTime" name="reminder-time" value="24">
                            1 day
                        </label>
                        <label>
                            <input type="radio" v-model="reminderTime" name="reminder-time" value="168">
                            1 week
                        </label>
                        <label>
                            <input type="radio" v-model="reminderTime" name="reminder-time" value="custom">
                            custom
                        </label>

                        <div class="custom_option" :class="{custom_option_active: reminderTime === 'custom'}">
                            <input type="number" min="1" step="1" v-model="customNumber">
                            <select v-model="timeUnit">
                                <option value="1" selected>minutes</option>
                                <option value="60">hours</option>
                                <option value="1440">days</option>
                                <option value="10080">weeks</option>
                                <option value="525600">years</option>
                            </select>
                        </div>
                        <div class="buttons">
                            <button type="submit">Save</button>
                            <button @click="closeReminder" type="button" class="cancel">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="chat_header">
                <router-link :to="'/profile/' + friendId" id="chat_header_profile">
                    <img :src="`img/${friend.picture}.png`" alt="User Image" />
                    <h2>{{friend.name}}</h2>
                </router-link>
                <button id="manage_tags" @click="openManageTags()">
                    Manage tags <img src="../../svg/tag.svg" />
                </button>
            </div>

            <graffiti-discover autopoll v-slot="{ objects: messageObjects, isInitialPolling }" :channels="getChannel()"
                @updated="onMessagesUpdated" :schema="{
            properties: {
                value: {
                    required: ['content', 'published'],
                    properties: {
                        content: { type: 'string' },
                        published: { type: 'number' }
                    }
                }
            }
        }">
                <ul id="messages" v-scroll-bottom>
                    <li v-for="object in messageObjects.sort((a,b)=>a.value.published-b.value.published)"
                        :key="object.url" class="message-bubble"
                        :class="{ my_message: object.actor === $graffitiSession.value.actor }"
                        @mouseenter="hoveredMsg = object.url" @mouseleave="hoveredMsg = null">

                        <div class="message-content">
                            <div class="bubble-content">
                                {{ object.value.content }}
                                <span class="message_hour">{{getHour(object.value.published)}}</span>
                            </div>

                            <button v-if="object.actor !== $graffitiSession.value.actor"
                                :class="{active_reminder: hoveredMsg === object.url}" class="reminder"
                                @click="addReminder(object)">🔔</button>
                        </div>
                    </li>
                </ul>


            </graffiti-discover>

            <form @submit.prevent="sendMessage()" id="message_bar">
                <button id="calendar" @click="openCalendar()" type="button">
                    <img src="../../svg/calendar-dots.svg" />
                </button>
                <fieldset :disabled="sending">
                    <input type="text" id="message_input" v-model="myMessage" placeholder="Message" ref="messageInput"
                        v-focus />
                    <input type="submit" :value="sending? 'Sending...' : 'Send'" />
                </fieldset>
            </form>

        </div>
    </div>
</div>