* {
    --my_bubble: #eff0b6;
}

#chat {
    margin: auto;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

#no_conversation {
    margin: auto;
}

#actual_chat {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#actual_chat #message_bar {
    background-color: #FFCF50;
    padding: 1em;
}

#actual_chat #message_bar input[type="text"] {
    padding: 0.5em;
    width: 80%;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}

#actual_chat #message_bar input[type="submit"] {
    padding: 0.5em;
    width: 10%;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

#chat {
    height: 100vh;
    overflow-y: auto;
}


#chat_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #BF9264;
    gap: 0.5em;
    padding: 0.2em;
    padding-left: 0.4em;
    min-height: 2em;
}

#manage_tags {
    border-radius: 5px;
    border: none;
    margin: auto 1em;
    background-color: rgb(0, 191, 255);
    color: white;
    -webkit-text-stroke: 0.2px black;
    padding: 0.3em;
    display: flex;
    align-items: center;
    gap: 0.3em;

}

#inbox_container #manage_tags img {
    width: 1em;
    height: 1em;
}

#chat_header h2 {
    margin: 0;
    font-size: 1.2em;
    color: rgb(224, 221, 221);
}

#chat_header_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

#actual_chat,
#chat {
    background-color: #FEFAE0;
}

.chat_container li.my_message .reminder {
    order: -1;
}

.chat_container li:not(.my_message) .reminder {
    order: 2;
}

.chat_container .reminder {
    position: absolute;
    right: -3em;
    top: 0;
}

.message-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}


.reminder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    z-index: 1;
    font-size: 1.2em;
    height: 2em;
    width: 2em;
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: flex;
    transition: opacity 0.2s ease;
}

.reminder:hover,
.active_reminder {
    opacity: 1;
}

li:not(.my_message) .reminder {
    right: -2.3em;
}

#messages li:not(.my_message) {
    text-align: left;
}

#messages li .my_message {
    text-align: right;
}

.chat_container #messages li {
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 10px;
    max-width: 60%;
    text-wrap: wrap;
    position: relative;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    box-sizing: border-box;
    background-color: #BBD8A3;
}

.chat_container .blur_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    margin: 0;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_container .blur_background_inner {
    background-color: white;
    padding: 1em;
    margin-top: -20em;
    border-radius: 8px;
}

.chat_container .blur_background_inner h3 {
    margin: 0;
    margin-bottom: 0.5em;
}

.chat_container .reminder:active {
    border: none;

}

.chat_container #actual_chat .reminder_options {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: transparent;
}

.chat_container .custom_option {
    visibility: hidden;
    margin-top: 0.5em;
}

.chat_container .custom_option_active {
    visibility: visible;
}


.chat_container .buttons button {
    color: white;
    padding: 0.48rem 0.96rem;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.chat_container .profile_form button:hover {
    filter: brightness(85%);
}

.chat_container .buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
    margin-top: 0.3em;
}

.chat_container button[type="submit"] {
    background-color: #28a745;
}

.chat_container .cancel {
    background-color: #dc3545;
}

.bubble-content {
    display: flex;
    flex-direction: row;
}

#messages li.my_message .bubble-content:before {
    content: "";
    position: absolute;
    right: -9px;
    bottom: 0.1px;
    transform: translateY(-50%);
    border-left: 10px solid var(--my_bubble);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

#messages li:not(.my_message) .bubble-content:before {
    content: "";
    position: absolute;
    left: -9px;
    bottom: 0.1px;
    transform: translateY(-50%);
    border-right: 10px solid #BBD8A3;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.manage_tags_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    background: none;
    gap: 1em;
}

.manage_tags_list .tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

#actual_chat #message_bar {
    gap: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#calendar,
#calendar img {
    --dim: 3em;
    --img_dim: calc(var(--dim)/2);
}

#calendar img {
    width: var(--img_dim);
    height: var(--img_dim);
}

#calendar {
    border-radius: 50%;
    padding: calc(var(--dim)/2);
    border: 0.5px solid rgba(0, 0, 0, 0.356);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--dim);
    height: var(--dim);
}