#inbox_container .black_background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    margin: 0;
    top: 0;
    left: 0;
    overflow-y: auto;
}

#inbox_container #loader_inner {
    background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1em;
    box-sizing: border-box;
}

#inbox_container #loader_inner img {
    width: 50px;
    height: 50px;
    margin: auto;
}

#inbox_container {
    display: grid;
    grid-template-columns: 20em 1fr;
    min-width: 768px;
}

@media screen and (max-width: 768px) {
    #inbox_container {
        min-width: 100%;
    }

}

#inbox {
    display: flex;
    flex-direction: column;
    background-color: #A4B465;
    margin: 0;
    height: 100vh;
    overflow-y: auto;
}

#inbox #navbar {
    padding: var(--inbox-padding);
    padding-bottom: 0.5em;
    box-sizing: border-box;
    background-color: #626f478c;
}

#inbox #navbar #user {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

#inbox_container .chat-list {
    position: relative;
}

#inbox_container .chat-move {
    transition: transform 0.4s ease;
}

#inbox_container .chat-enter-active,
#inbox_container .chat-leave-active {
    transition: opacity 0.3s ease;
}

#inbox_container .chat-enter-from,
#inbox_container .chat-leave-to {
    opacity: 0;
}

#inbox_container #chat_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #BF9264;
    gap: 0.5em;
    padding: 0.2em;
    padding-left: 0.4em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#inbox_container #chat_header h2 {
    margin: 0;
    font-size: 1.2em;
    color: rgb(224, 221, 221);
}

#inbox_container #chat_header img {
    width: 30px;
    height: 30px;
}



#inbox_container #messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

#inbox_container #messages li.my_message {
    align-self: flex-end;
    background-color: var(--my_bubble);

}


#inbox_container #messages li {
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 10px;
    max-width: 50%;
    text-wrap: wrap;
    position: relative;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    box-sizing: border-box;
    background-color: #BBD8A3;
}

#inbox_container #messages li {
    position: relative;
    margin: 0.2em 1em;
}

#inbox_container #messages li:not(.my_message) .bubble-content:before {
    content: "";
    position: absolute;
    left: -9px;
    bottom: 0.1px;
    transform: translateY(-50%);
    border-right: 10px solid #BBD8A3;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

#inbox_container #messages li.my_message .bubble-content:before {
    content: "";
    position: absolute;
    right: -9px;
    bottom: 0.1px;
    transform: translateY(-50%);
    border-left: 10px solid var(--my_bubble);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}