<div id="inbox_container">
    <div v-if="isLoading" class="black_background">
        <div id="loader_inner">
            <h2>Loading...</h2>
            <img src="svg/loader.svg">
        </div>
    </div>
    <div v-else id="inbox">
        <div v-if="newChat" class="black_background" @click="newChat=false">
            <div id="new_chat_inner" @click.stop>
                <div class="top">
                    <h2>New Chat</h2>
                    <button @click="newChat=false">
                        X</button>
                </div>
                <ul>
                    <button v-for="user in allUsersWithoutMe()" @click="newConversation(user)">{{user.name}}</button>
                </ul>
            </div>
        </div>
        <div id="navbar">

            <router-link :to="'/profile/' + this.user.id">
                <div id="user">
                    <img :src="`img/${user.picture}.png`" alt="User Image" />
                    <h2>{{user.name}}</h2>
                </div>
            </router-link>
            <div id="navbar_buttons">
                <button id="new_chat" @click="() => {newChat=true}">
                    <img src="svg/new_chat.svg" />
                </button>
                <button id="logout" @click="logout()">
                    <img src="svg/logout.svg" />
                </button>
            </div>
        </div>

        <transition-group name="chat" tag="ul" id="chats" class="chat-list">
            <li v-for="friend in friends" :key="friend.id" class="chat-item">
                <button @click="changeConversation(friend)"
                    :class="{active_chat: currentConversation && currentConversation.actor === friend.actor}">
                    <img :src="`img/${friend.picture}.png`" alt="User Image" />
                    <div class="name_and_text">
                        <h2>{{friend.name}}</h2>
                        <p>{{trim(friend.lastMsg.content, 30)}}</p>
                    </div>
                </button>
            </li>
        </transition-group>
    </div>


    <router-view @update-friend-list="updateFriendList"></router-view>
    <div v-else id="no_conversation">
        <h2>Create a new conversation to start chatting!</h2>
    </div>

</div>
</div>